body {}

.divName1 {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rowdies', cursive;
}

.block p {
  max-width: 600px;
  /* Adjust the max-width as needed */
  text-align: center;
  margin-bottom: 20px;
  /* Adjust the margin between paragraphs */
}

h1 {
  font-family: 'Rowdies', cursive;
  margin-bottom: 3rem;
  margin-top: 3rem;

}

h2 {
  font-family: 'Rowdies', cursive;
}

h3 {
  font-family: 'Rowdies', cursive;
}

h4 {
  font-family: 'Rowdies', cursive;
}

p {
  font-family: 'Rowdies', cursive;
}

strong {
  font-family: 'Rowdies', cursive;
}

div {
  font-family: 'Rowdies', cursive;
}

footer {
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, white, gray);
  /* Gradient from black to dark gray */
  color: white;
  bottom: 0;
  width: 100%;
}

#container2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* Background color for the container */
  padding: 20px;
  /* Add some padding for spacing */
}

#container3 {
  width: 100%;
  text-align: center;
}

#container4 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


#container .row {
  /* Access rows */
}

#container .row .col {
  float: left;
  width: 50%;
}

/* Equivalent of #column-1*/
#container .row .col.column-1 {}

/* Equivalent of #column-2 */
#container .row .col.column-2 {}

/* centering the our story part */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust this according to your layout */
}

/* centering the our story part end */


/* for the established in 2018 part */
.highlight {
  font-weight: bold;
  font-size: 1.9em;
  /* Adjust the size as needed */
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
}

/* for the established in 2018 part end */


/* bigger text for our story info start */
.bigger-text {
  font-size: 1.4em;
  /* Adjust the size as needed */
  margin-top: 10px;
  color: white;
  text-align: center;
  padding: 200px;
}

/* bigger text for our story info end */

.row {
  display: flex;
  width: 100%;
  margin-top: 90px;
}

.column-1 {
  flex: 1;
  background-color: rgb(247, 179, 90);
  /* Background color for the first column */
  padding: 300px;
  /* Add some padding for spacing */
  size: 100px;

}

.column-2 {
  flex: 1;
  background-color: rgb(87, 11, 11);
  /* Background color for the second column */
  padding: 300px;
  /* Add some padding for spacing */
  color: white;
}

img {
  max-width: 100%;
  /* Limits the image size to its container width */
  height: auto;
  /* Ensures the image keeps its aspect ratio */
  display: block;
  /* Ensures the image behaves like a block element */
  margin: 0 auto;
  /* Centers the image horizontally */
  max-height: 100%;
  /* Ensures the image does not exceed the container height */

}

/* Style for the contact us section */
.section.footer {
  background-color: black;
  color: white;
  padding: 200px 0;
  margin-top: 0;
  font-size: 20px;
}

/* Style for the container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Style for the flexbox */
.flexbox-space-between {
  display: flex;
  justify-content: space-between;
}

/* Style for the gap between items */
.gap-75>* {
  margin-right: 75px;
}

/* Style for wrapping items */
.wrap {
  flex-wrap: wrap;
}

/* Style for the footer menu wrappers */
.footer-menu-wrapper_1,
.footer-menu-wrapper_2,
.footer-menu-wrapper_3,
.footer-menu-wrapper_4 {
  flex-basis: calc(25% - 75px);
  /* 25% width with 75px gap */
}

/* Style for the contact us title */
.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the contact us links */
.footer-link {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-link:hover {
  color: orange;
}


/* nav bar styling */
.navBar {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  display: inline-block;
  z-index: 1;
  background-color: rgb(224, 93, 32);
}

.navBar a {
  text-decoration: none;
  color: white;
}



i {
  font-size: 20px;
}

i:hover,
a:hover {
  color: black;
  cursor: pointer;
}

.navBar nav li {
  padding: 10px;
  margin: 20px;
  list-style-type: none;
  display: inline-block;
  color: black;
}


#hamMenu {
  visibility: hidden;
}

/*Book and appointment styling start*/
a {
  color: black;
  text-decoration: none
}

a:hover,
a:focus {
  color: black;
  text-decoration: underline
}

a:focus,
.btn:focus {
  outline: none;
}

.img-responsive {
  border: 1px solid #ddd;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}

.big-text {
  font-size: 58px;
  font-weight: 300;
  line-height: 62px;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  text-transform: uppercase;
}

.section-title {
  margin-top: -20px;
  margin-bottom: 80px;
  text-align: center;
}

/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-----------------------
----- Color Styles ------
-------------------------*/

.bg-color1 {
  color: #fff;
  background: #509B9E;
}

.bg-color2 {
  color: #fff;
  background: orange;
}

.bg-color3 {
  color: #fff;
  background: #334959;
}

.border-bottom-color2 {
  border-bottom: 7px solid orange;
}

.border-top-color2 {
  border-top: 7px solid orange;
}

.color1 .service-icon,
.color1.service-item ul li:nth-child(2):before {
  background: #509B9E;
}

.color1 .service-icon:after {
  border: 3px solid #509B9E;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before {
  background: orange;
}

.color2 .service-icon:after {
  border: 3px solid orange;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before {
  background: #334959;
}

.color3 .service-icon:after {
  border: 3px solid #334959;
}

/*------------------
----- Buttons ------
--------------------*/

.btn-color1,
.btn-color2 {
  padding: 10px 30px;
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  background: orange;
  outline: none !important;
  border-radius: 0;
  transition: opacity .2s ease-out;
}

.btn-color1 {
  background: #509B9E;
}

.btn-color1:hover,
.btn-color2:hover {
  color: black;
  opacity: 0.9;
  border-color: orange;
}

.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active {
  color: #fff;
}

.btn-color1 .fa,
.btn-color2 .fa {
  margin-right: 15px;
}

#contact {
  background-image: url('../images/bg-contact.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: white;
}

#contact-form .form-group label {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  text-transform: uppercase;
}

#contact-form.no-placeholder .form-group label {
  display: block;
}

#contact-form .controls {
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid burlywood;
  border-radius: 2px;
}

#contact-form .form-control {
  background: transparent !important;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  height: 56px;
  font-size: 21px;
  line-height: 32px;
  font-weight: 100;
  padding-left: 64px;
  -webkit-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
  border-radius: 2px;
}

#contact-form .form-group {
  position: relative;
}

#contact-form .form-group [class*=fa] {
  display: block;
  width: 64px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #e5e5e5;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
  font-weight: 300;
  opacity: 0.5;
  transition: opacity .2s ease-out;
}

#contact-form.no-placeholder .form-group [class*=fa] {
  top: 30px;
}

#contact-form .form-control:focus+[class*=fa] {
  opacity: 1;
}

#contact-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  font-size: 21px;
  line-height: 32px;
  padding-top: 10px;
}

#contact-form .form-control:focus {
  background: #fff;
  border-bottom: 3px solid black;
  outline: none;
  box-shadow: none;
  -webkit-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in;
}

#contact-form .error-message {
  padding: 5px 0;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 14px;
  font-weight: 300;
  color: #ff0000;
  z-index: 10;
}

#contact-form .error-message:before {
  content: "\00d7";
  font-size: 21px;
  line-height: 21px;
  margin-right: 5px;
}

/*----------------------
----- Footer Styles ----
------------------------*/

#main-footer {
  background: rgb(237, 183, 83);
}

#main-footer p a {
  padding-bottom: 40px;
  font-size: 25px;
  text-decoration: none;
}

#main-footer p {
  text-align: center;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.social-links li {
  display: inline-block;
  margin: 0 5px;
  border-radius: 3px;
  box-shadow: 0 4px 0 transparent;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.social-links li a {
  display: block;
  color: #fff;
  font-size: 21px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: orange;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.social-links li a:hover {
  color: #fff;
  background: orange;
}

/* Book an appointment styling end */


/* cards css start */
.cardl {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 2px solid rgb(221, 158, 112);
}

.cardl img {
  max-width: 75px;
  border-radius: 100%;
}

.card__content {
  display: flex;
  gap: 1rem;
}

.card__content span i {
  font-size: 2rem;
  color: var(--primary-color);
}

.card__details p {
  font-style: italic;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.card__details h4 {
  text-align: right;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

@media (width < 1200px) {
  .container {
    gap: 3rem;
  }
}

@media (width < 900px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container__right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 750px) {
  .container__right {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* cards css end */

/* reviews color title*/
.orange {
  color: rgb(211, 147, 29);
  font-style: italic;
}

body.products {
  background-image: url(newproductspg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Optional: keeps the background fixed while scrolling */
}

/* introduction to princeton css start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");

@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

$position: -0.375rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #171717;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;

  i {
    color: #fff;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);

    &:hover {
      color: #f2709c;
    }
  }
}

section {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-block: min(20vh, 6rem);
  text-align: center;
  width: calc(min(90rem, 90%));
  margin-inline: auto;
  margin-bottom: 3rem;

  span,
  p,
  h2,
  h3 {
    letter-spacing: 0.035rem;
  }

  p {
    line-height: 1.6;
    color: #a3a3a3;
    max-width: 50rem;
    margin: 0 auto;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
  }

  .bg-watermark {
    color: #1f1f1f;
    font-size: clamp(6rem, 1.3333rem + 14.9333vw, 20rem);
    font-weight: 800;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translatex(-50%) translatey(-15%);
    user-select: none;
    letter-spacing: 0.5rem;
  }

  span {
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
    color: #a3a3a3;
  }

  h2 {
    font-size: clamp(3.5rem, 3rem + 1.6vw, 5rem);
    margin-top: -0.625rem;
    color: #fff;
  }


  .cards {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 2rem;

    @include mQ(51rem) {
      gap: 0;
      padding-bottom: 2.5rem;
    }

    .card {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 15vw;
      object-fit: cover;

      h3,
      p {
        text-transform: capitalize;
      }

      h3 {
        font-size: clamp(1rem, 0.9167rem + 0.2667vw, 1.25rem);
        font-weight: 400;
        color: #f6f6f6;
        margin-bottom: 1rem;
        margin-top: 2rem;
      }

      p {
        font-size: clamp(0.85rem, 0.75rem + 0.32vw, 1.15rem);
        letter-spacing: 0.12rem;
        font-weight: 300;
        max-width: 100%;
      }

      &::before {
        position: absolute;
        content: "";
        width: 5rem;
        height: 6.25rem;
        z-index: 0;
        transition: 0.3s ease-in-out;
        top: $position;
        left: $position;
      }

      &::after {
        position: absolute;
        inset: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: #232526;
        background: -webkit-linear-gradient(to bottom,
            hsl(210deg 2.99% 26.27% / 20%),
            hsl(0deg 0% 3.14% / 90%));
        background: linear-gradient(to bottom,
            hsl(210deg 2.99% 26.27% / 20%),
            hsl(0deg 0% 3.14% / 90%));
      }

      img {
        transition: 0.5s ease;
      }

      &-content {
        position: absolute;
        bottom: 0;
        z-index: 99;
        left: 0;
        color: #fff;
        width: 100%;
        padding: 1.875rem 1.25rem;
        text-align: center;

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
          margin-top: 1.25rem;
        }
      }

      &:hover img {}

      &:hover::before {
        transform: scale(1.03);
      }
    }

    .card:nth-child(1) {
      &::before {
        top: $position;
        left: $position;
      }
    }

    .card:nth-child(2) {
      @include mQ(31.25rem) {
        transform: translatey(15%);
      }

      &::before {
        bottom: $position;
        left: $position;
        top: auto;
      }
    }

    .card:nth-child(3) {
      &::before {
        top: $position;
        left: $position;
      }
    }
  }
}

/* introduction to princeton css end*/

/*student life section start*/
@font-face {
  font-family: 'Founders Grotesk';
  src: url('https://assets.website-files.com/63f818b5f015858056117a09/63f818b5f015851928117a14_founders-grotesk-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('https://assets.website-files.com/63f818b5f015858056117a09/63f818b5f01585b042117a16_founders-grotesk-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('https://assets.website-files.com/63f818b5f015858056117a09/63f818b5f015857510117a15_founders-grotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.4;
}

a {
  font-size: 1em;
  text-decoration: none;
}

.page-wrapper {
  position: relative;
  overflow: visible;
  width: 100%;
  font-size: 1em;
}

.text-size-h1 {
  font-size: 3.5em;
  line-height: 0.8;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.page-padding {
  width: 100%;
  padding: 4em;
}

.page-padding.is-home-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.home-content_section {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f1753f;
  color: #5b1a1d;
}

.home-content_visual {
  position: relative;
  width: 50%;
}

.home-content_text-wrap {
  width: 50%;
}

.home-content_heading {
  max-width: 6em;
}

.home-content_p {
  max-width: 30em;
  color: black;
  font-size: 1em;
}

.home-content_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*student life section end*/